/discord-bot/.env
/discord-bot/*.jpg
/discord-bot/__pycache__
/cat-spotting/env/
/cat-spotting/*.xml
/cat-spotting/*.jpg
/cat-spotting/.env
/firebase-api/test_catbase.py
/firebase-api/__pycache__
/firebase-api/.env
/firebase-api/*.jpg
/firebase-api/*.json
